body{
    margin-left: 15.625%;
    margin-right: 15.625%;
    background-color:azure;
}

#logo{
    margin-top: 48px;
}

#routes{
    display: flex;
}

.top_navigation_bar{
    display: flex;
    justify-content: space-between;
}

#heading{
    margin-top: 55px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 24px;
}


#image_section{
    width: 70%;
}

#text_section{
    text-align: center;
}
img{
    border-radius:15%;
    width: 140%;
    place-items: center;
}
#abuttonlink{
    color: white;
}
button{
    color: white;
    background-color: rgb(92, 53, 3);
    border-color: black;
    border-width: 3px;
    border-radius: 8px;
    padding-left: 10px;
    padding: right 10px;;
    padding: top 5px;
}

button:hover{
    background-color: black;
}

#welcome_heading{
    color: rgb(76, 44, 2);
}

